<!DOCTYPE html>

<html lang="en" ng-app="flashcardApp">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/assets/styles/reset.css">
  <link rel="stylesheet" href="/assets/styles/style.css">
  <script src="/assets/angular/angular.js"></script>
  <script src="/assets/app/app.js"></script>
</head>

<body ng-controller="FlashcardController as flashcard">

  <nav>
    <ul>
      <li>My Collections</li>
    </ul>
  </nav>

  <section class="card-display">
    <h2>{{flashcard.cardDisplay}}</h2>
  </section>
  <button ng-click="flashcard.flipCard()">flip card</button>
  <button ng-click="flashcard.nextCard()">next card</button>
  
</body>
</html>